.BookingInfo_container {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
}

.BookingInfo_container h3 {
    margin-top: 20px;
}

.BookingInfo_container p {
    margin: 10px 0;
}

.BookingInfo_container ul {
    list-style: none;
    padding-left: 0;
}

.BookingInfo_container li {
    margin-bottom: 10px;
}