.mapContainer {
    width: 618px; /* Adjust the width as needed */
    height: 384px; /* Adjust the height as needed */
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    font-size: 16px;
    border: none; /* Optional: Add border if needed */
}